* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body,
html {
  background-image: linear-gradient(to right bottom, #eb2f64, #BA265D);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: sans-serif;
  color: #ccc;
  font-size: 62.5%;
  font-weight: 400;
  box-sizing: border-box; }
  @media only screen and (max-width: 62.5em) {
    body,
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 50em) {
    body,
    html {
      font-size: 40%; } }
  @media only screen and (max-width: 31.25em) {
    body,
    html {
      font-size: 30%; } }
  @media only screen and (max-width: 21.875em) {
    body,
    html {
      font-size: 25%; } }

.container {
  position: relative;
  font-size: 10rem;
  padding: 10rem 8rem;
  text-align: center; }
  @media only screen and (max-width: 62.5em) {
    .container {
      padding: 15rem 6rem; } }
  @media only screen and (max-width: 50em) {
    .container {
      padding: 25rem 4rem; } }
  .container__watch {
    background-repeat: no-repeat;
    background-size: cover;
    display: block; }
    .container__watch span {
      margin: 0;
      padding: 0;
      position: relative;
      display: inline-block;
      text-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.6);
      z-index: 99; }
  .container__binary-watch {
    display: inline-block;
    font-size: 2rem;
    min-width: 60%; }
    .container__binary-watch::after {
      content: "";
      display: block;
      clear: both; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    .container__binary-watch--hour, .container__binary-watch--minute, .container__binary-watch--second {
      width: 33.333333%;
      float: left;
      position: relative; }
    .container__binary-watch--hour div,
    .container__binary-watch--minute div,
    .container__binary-watch--second div {
      margin: 1.5rem 0;
      padding: 2rem 2rem;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.4);
      background-color: #ccc;
      box-sizing: content-box;
      animation: fadeIn .4s ease-out;
      position: relative;
      z-index: 1; }
    .container__binary-watch--hour div {
      margin-left: auto; }
    .container__binary-watch--minute div {
      margin: 1.5rem auto; }
    .container__binary-watch--full-color {
      background-image: radial-gradient(#ccc, #333) !important; }

@keyframes moveDownUp {
  0% {
    transform: translateY(6rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
    opacity: 1; }
  100% {
    transform: translateY(-6rem);
    opacity: 0; } }

@keyframes clockMove {
  0% {
    transform: translateY(0);
    opacity: 1; } }

.animate-down {
  position: relative;
  animation: moveDownUp .4s ease-out; }

.animate-up {
  animation: moveUpDown .4s ease-out .6s; }
